footer p {
  color: #00fee5;
}

.nav-link {
  color: #f00;
}

.nav-link:hover {
  color: #00fee5;
}

#banner img {
  margin-bottom: 50px;
  border-bottom: 3px solid #000;
  box-shadow: 0 0 30px #333;
}

.card {
  margin-bottom: 20px;
  box-shadow: 0 0 5px #333;
}

.card iframe {
  border-radius: 5px 5px 0 0;
}

.card img {
  border-radius: 5px 5px 0 0;
}

.card h3 {
  height: 50px;
}

footer {
  box-shadow: 0 0 20px #333;
  width: 100%;
  padding: 1px;
}

.imagens h3 {
  height: 30px;
}

.navbar-brand {
  margin-left: 20px;
}

.navbar {
  box-shadow: 0 0 5px #00fee5;
}

#menu {
  margin-left: 1250px;
}

.card-body a {
  text-decoration: none;
  color: #000;
}

.send {
  text-align: right;
  margin-top: 20px;
}

.textoEmail {
   font-weight: bold;
}

#bannerHome {
    width: 100%;
    height: 700px;
    background: url(/src/imagens/fundo.png) no-repeat center;
    background-size: cover;
    margin-bottom: 20px;
    box-shadow: 0 0 5px #000;
}

.btnsobre {
  font-weight: bold;
  font-size: 23px;
  color: red;
  background: black;
  border: 1px solid red;
}

.btnsobre:hover {
  color: #00fee5;
  background: black;
  border: 1px solid #00fee5;
}

.tituloHome {
  margin-top: 300px;
}

.tituloHome h1 {
  color: white;
}

.icones h3 {
  height: 500px;
}

.note {
  margin-top: 150px;
}

.nameIcone {
  text-decoration: none;
  font-weight: bold;
  color: #f00;
}

.nameIcone:hover {
  color: #00fee5;
}

.iconesText {
  height: 350px;
}